#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

#files the kill us
XamarinClient/MP_Chess/MP_Chess/obj/Debug/MP_Chess.csproj.FileListAbsolute.txt
XamarinClient/MP_Chess/MP_Chess/obj/Debug/resolved_assemblies.txt 
XamarinClient/MP_Chess/MP_Chess/obj/Debug/sdks.cache 
XamarinClient/MP_Chess/MP_Chess/obj/Debug/libraryprojectimports.cache 
